@import url(../../components/custom/custom.css);

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(../img/sign-in-overlay/miroslav-skopek-1-Q3MudbHvY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: var(--blue-to-black-gradient);
    opacity: 0.5;
}