@import url(../../components/custom/custom.css);
@import url(../../components/forms/forms.css);
@import url(../../components/form-border/form-border.css);

.form-border {
    margin: 25px 0;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* min-height: 110vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    background-image: url(../img/sign-up-overlay/overlay.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body::after {
    content: '';
    position: absolute;
    inset: -1;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: var(--blue-to-black-gradient);
    opacity: 0.5;
}

/* ! ---------------------------------- wrap ---------------------------------- ! */
.wrap {
    position: relative;
    width: 450px;
    background: var(--white);
    padding: 35px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap::before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 100%;
    background: var(--main-color);
    border-radius: 0 0 50px 50px;
    z-index: -1;
}
.wrap-title {
    font-size: 1.9rem;
}
.wrap-description {
    font-size: 1rem;
    margin-top: 20px;
    color: var(--primary-color);
    margin-left: -95px;
}
.wrap-description a {
    text-decoration: none;
    margin-left: 8px;
    color: var(--dark-blue);
}
/* ! ---------------------------------- form ---------------------------------- ! */
.form-login {
    width: 100%;
    padding: 0 9px;
    margin-top: 40px;
}
.password-group, .email-group {
    margin-top: 20px;
}
/* ! --------------------------- sign in with border -------------------------- ! */
.sign-in-with-border-box {
    margin-top: 30px;
}
/* ! ------------------------------- sign up btn ------------------------------ ! */
.submit-form-btn {
    width: 100%;
    margin-top: 40px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}
.submit-form-btn:disabled {
    background: var(--black);
    box-shadow: none;
}
/* ! ---------------------------- verify code wrap ---------------------------- ! */
.verify-code-wrap {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.verify-code-wrap::before {
    content: '';
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
}
.verify-code-box {
    width: 530px;
    height: 400px;
    background: var(--white);
    z-index: 11;
    padding: 50px;
    transform: translateY(-500px);
    transition: .5s;
}
.verify-code-title {
    font-size: 2rem;
}
.verify-code-text {
    margin-top: 23px;
    line-height: 23px;
    color: #808080;
}
.verify-code-wrap.active {
    visibility: visible;
    opacity: 1;
}
.verify-code-wrap.active .verify-code-box {
    transform: translateY(0);
}
/* ! -------------------------------- input box ------------------------------- ! */
.inputs-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 30px; */
}
.verify-input {
    width: 80px;
    height: 60px;
    background: var(--white-900);
    border: 2px solid #AFAFAF;
    outline: none;
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
}
.verify-input:focus {
    border: 2px solid var(--primary-color);
}
.resend-text {
    margin-top: 20px;
    color: var(--primary-color);
}
.resend-code-again-text {
    color: var(--dark-blue);
    cursor: pointer;
}
.verify-code-error-msg {
    margin: 20px 0 10px 0;
    color: var(--red);
}
.verify-submit-btn {
    width: 100%;
    margin-top: 30px;
    height: 50px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background: var(--main-color);
    color: var(--white);
    box-shadow: 0 5px 15px rgb(103, 104, 121, 0.7);
    cursor: pointer;
    transition: .4s;
}
.verify-submit-btn:disabled {
    box-shadow: none;
    background: var(--black);
    cursor: no-drop;
}
/* ! ------------------------------- sign in btn ------------------------------ ! */
.sign-in-buttons {
    margin-top: 15px;
    display: flex;
    column-gap: 30px;
}
.google-btn, .discord-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid var(--gray);
    padding: 5px;
    outline: none;
    background-color: var(--white);
    border: 1px solid rgb(189, 189, 189);
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
}
.google-btn:hover, .discord-btn:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.google-btn img, .discord-btn img {
    width: 35px;
    height: 35px;
}
/* ! ------------------------------- media query ------------------------------ ! */
@media screen and ( max-height: 666px ) {
    body {
        padding: 100px 0;
    }
}