@import url(../../components/custom/custom.css);
@import url(../../components/forms/forms.css);

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../img/sign-in-overlay/miroslav-skopek-1-Q3MudbHvY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body::after {
    content: '';
    position: absolute;
    inset: -1;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: var(--blue-to-black-gradient);
    opacity: 0.5;
}

/* ! ---------------------------------- wrap ---------------------------------- ! */
.wrap {
    position: relative;
    width: 450px;
    height: 550px;
    background: var(--white);
    padding: 35px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap::before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 100%;
    background: var(--main-color);
    border-radius: 0 0 50px 50px;
    z-index: -1;
}
.wrap-title {
    font-size: 1.8rem;
}
.wrap-description {
    font-size: 1rem;
    margin-top: 20px;
    color: var(--primary-color);
    margin-left: -30px;
}
.wrap-description a {
    text-decoration: none;
    margin-left: 8px;
}
/* ! ---------------------------------- form ---------------------------------- ! */
.form-login {
    width: 100%;
    padding: 0 9px;
    margin-top: 50px;
}
.password-group {
    margin-top: 25px;
}
.sign-in-with-border-box {
    width: 100%;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
.sign-in-with-border-box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: var(--main-color);
}
.sign-in-with-border-box span {
    color: var(--main-color);
    background: var(--white);
    padding: 0 10px;
    z-index: 2;
}
/* ! ------------------------------- sign in btn ------------------------------ ! */
.sign-in-buttons {
    margin-top: 15px;
    display: flex;
    column-gap: 30px;
}
.google-btn, .discord-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid var(--gray);
    padding: 5px;
    outline: none;
    background-color: var(--white);
    border: 1px solid rgb(189, 189, 189);
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
}
.google-btn:hover, .discord-btn:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.google-btn img, .discord-btn img {
    width: 35px;
    height: 35px;
}
.submit-form-btn {
    width: 100%;
    margin-top: 70px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-family: 'Comfortaa', cursive !important;
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}