@import url(../../components/custom/custom.css);
@import url(../../components/user-panel/header/header.css);

body {
    background: #EBEBEB;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

/* ! -------------------------------- container ------------------------------- ! */
.container {
    width: 100%;
    height: 100%;
    padding: 80px;
}