/* ! this file has some classes to helps you to have some form component ! */

/* reset autofill in browsers */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-group {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 0 12px;
}
.form-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 0.9rem;
    color: var(--primary-color) !important;
    font-family: 'Comfortaa', cursive;
}
.form-input::placeholder {
    visibility: hidden;
    opacity: 0;
}
.input-group-icon {
    display: flex;
}
.input-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    cursor: text;
    color: var(--primary-color);
    transition: .3s;
    background: var(--white);
}
.form-input:not(.form-input:placeholder-shown) ~ .input-label {
    top: 0;
    padding: 0 10px;
    left: 5px;
}
.form-input:focus .input-label {
    top: 0;
    padding: 0 10px;
    left: 5px;
}
.eye {
    cursor: pointer ;
}
/* ! -------------------------------- messages -------------------------------- ! */
.message {
    margin-top: 9px;
    display: flex;
    align-items: center;
}
.message span:last-child {
    margin-left: 10px;
}
.valid-message {
    color: var(--green);
}
.invalid-message {
    color: var(--red);
}
/* ! ------------------------------ valid and invalid inputs ------------------------------ ! */
.input-group.valid {
    border-color: var(--green);
}
.input-group.valid .form-input:not(.form-input:placeholder-shown) ~ .input-label {
    color: var(--green);
}
.input-group.invalid {
    border-color: var(--red);
}
.input-group.invalid .form-input:not(.form-input:placeholder-shown) ~ .input-label {
    color: var(--red);
}