@import url(user-pannel.css);
@import url(../forms/forms.css);

.active-tab {
    width: 180px;
    left: 153px;
    background: var(--blue);
}

.change-info-section {
    padding: 36px 30px;
    max-height: 555px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* form border */
.form-border {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    margin-bottom: 25px;
}
.form-border::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: var(--main-color);
}
.form-border span {
    color: var(--main-color);
    background: var(--white);
    padding: 0 10px;
    z-index: 2;
}
.form-border-password, .form-border-profile, .form-border-email {
    margin-top: 46px;
}
.change-name-box, .change-password-box, .change-profile-box, .change-email-box {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}
.change-profile-box {
    column-gap: 50px;
}
.first-name-box, .last-name-box, .current-password-box, .new-password-box, .email-box, .confirm-password-box {
    width: 100%;
}
.change-profile-input-box, .change-banner-input-box {
    position: relative;
    height: 180px;
    border: 1px solid var(--primary-color);
    padding: 20px;
}
.change-profile-input-box {
    width: 190px;
}
.change-profile-input-box::before, .change-banner-input-box::before {
    position: absolute;
    top: -8px;
    background: var(--white);
    padding: 0 10px;
}
.change-profile-input-box::before {
    content: "profile";
    left: 50%;
    transform: translateX(-50%);
}
.upload-profile-input-label, .upload-banner-input-label {
    position: absolute;
    z-index: 2;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.upload-profile-input-label input, .upload-banner-input-label input {
    display: none;
}
.change-banner-input-box::before {
    content: "banner";
    left: 30px;
}
.change-profile-pic, .change-banner-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 1px solid var(--primary-color);
}
.change-banner-input-box {
    width: 80%;
}
.submit-change-info-box {
    position: relative;
    width: 100%;
    margin-top: 35px;
    display: flex;
}
.submit-change-info-box::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: var(--blue);
}
.submit-change-info-btn {
    position: relative;
    padding: 15px 20px;
    background: var(--blue);
    color: var(--white);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: none;
    cursor: pointer;
    box-shadow: rgb(0, 156, 240, 0.4) 0px 8px 24px;
}
.submit-change-info-btn-overlay {
    padding: 15px;
    background: var(--white);
    z-index: 4;
    margin-left: 30px;
}