@import url(user-pannel.css);
@import url(../forms/forms.css);

.active-tab {
    width: 150px;
    left: 514px;
    background: var(--blue);
}

.sessions-section {
    padding: 36px 30px;
    height: 555px;
    max-height: 555px;
    overflow-x: hidden;
    overflow-y: auto;
}
.w-100 {
    width: 100%;
}
/* ! -------------------------------- sessions -------------------------------- ! */
.session-name-time-box, .session-price-select-course-box {
    display: flex;
    column-gap: 20px;
}
/* ! --------------------------- session select course box --------------------- ! */
.session-dropdown-box {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 8px 10px;
    column-gap: 10px;
    cursor: pointer;
    transition: .4s;
}
.session-dropdown-box.valid {
    border-color: var(--green);
}
.session-dropdown-box.invalid {
    border-color: var(--red);
}
.session-dropdown-box span:first-child, .session-dropdown-box span:last-child {
    display: flex;
}
.session-dropdown-toggle-icon {
    margin-left: auto;
    transition: .4s;
}
.session-dropdown-menu-box {
    position: absolute;
    top: 55px;
    max-height: 130px;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    width: 100%;
    background: var(--white-900);
    z-index: 2;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}
.session-dropdown-menu-item {
    padding: 12px 15px;
    transition: .4s;
    cursor: pointer;
}
.session-dropdown-menu-item:hover {
    background-color: var(--white-800);
    color: var(--white);
}
.session-dropdown-menu-item:not(:first-child) {
    margin-top: 5px;
}
.session-dropdown-box.active .session-dropdown-toggle-icon {
    transform: rotate(180deg);
}
.session-dropdown-box.active .session-dropdown-menu-box {
    visibility: visible;
    opacity: 1;
}
/* ! ------------------------ session check free label ------------------------ ! */
.session-check-free-box {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 1.2rem;
}
.session-check-free-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}
.session-check-free-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.1em;
    width: 1.1em;
    background: #606062;
    border-radius: 7px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0,5);
}
.session-check-free-label input:checked ~ .checkmark {
    background-image: linear-gradient(#255CD2,#1D52C1);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.session-check-free-label input:checked ~ .checkmark:after {
    display: block;
}
.checkmark:after {
    left: 9px;
    top: 3px;
    width: 0.14em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
/* ! ------------------------- submit change info box ------------------------- ! */
.add-new-session-btn {
    position: relative;
    padding: 15px 20px;
    background: var(--blue);
    color: var(--white);
    font-size: 1.1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border: none;
    cursor: pointer;
    box-shadow: rgb(0, 156, 240, 0.4) 0px 8px 24px;
}
/* ! ------------------------------ all sessions ------------------------------ ! */
.sessions {
    width: 100%;
    margin-top: 50px;
}
.session-box {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: .4s;
    border: 1px solid var(--white-700);
    border-bottom: none;
    justify-content: space-between;
}
.session-box:last-child {
    border: 1px solid var(--white-700);
}
.session-box div:first-child, .session-box div:last-child {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.session-box:hover {
    box-shadow: var(--shadow);
}
.session-name-title {
    color: var(--primary-color);
}
.session-price-badge {
    font-size: 0.8rem;
    padding: 7px;
    border-radius: 20px;
    background: var(--red);
    color: var(--white);
}
.session-category {
    font-size: 0.8rem;
}
.session-time {
    width: 100px;
    height: 100%;
}