/* 
    - base file for styles of panel
    this file is a main file for panel
    this file has every classes and other files that panel needs for work.
*/

@import url(../custom/custom.css);
@import url(admin-card/admin-card.css);
@import url(header/header.css);
@import url(tabs/tabs.css);

body {
    background: var(--white-900);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* ! -------------------------------- container ------------------------------- ! */
.container {
    width: 100%;
    height: 100%;
    padding: 60px;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
}
/* ! ---------------------------------- main ---------------------------------- ! */
.main {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
}
/* ! -------------------------------- user box -------------------------------- ! */
.right-section {
    flex: 3;
    height: 100%;
    max-width: 955px;
    box-shadow: var(--shadow);
    background-color: var(--white);
}